oracle-connection-url = jdbc:oracle:thin:@localhost:1521:XE
oracle-connection-username = Wk2admin
oracle-connection-password = Password1
listener-homePageDataRefreshTime = 3600000
pageSize = 3
session_customer_attr = customer
payment-key = w0P75wMZ203fr46r5i70V556WHFa94j14yW5J6vuh4yo3nRl5jsqF3c41677
yeepay-URL = https://www.yeepay.com/app-merchant-proxy/node

URL_HOME = /home
URL_HOME_PAGE = /index.jsp
URL_ERROR = /error
URL_ERROR_PAGE = /error.jsp
URL_LOGIN = /login.jsp
URL_CART = /cart.jsp
URL_PRODUCT_PAGE = /product.jsp
URL_CATEGORY_PAGE = /category.jsp
URL_SEARCH_RESULT = /result.jsp

URL_BACKEND_HOME = /WEB-INF/backend/index.jsp
URL_BACKEND_ADD_CATEGORY = /WEB-INF/backend/categoryAdd.jsp
URL_BACKEND_QUERY_CATEGORY = /WEB-INF/backend/categoryUpdate.jsp
URL_BACKEND_UPDATE_CATEGORY = /WEB-INF/backend/categoryEdit.jsp
URL_BACKEND_DELETE_CATEGORY = /WEB-INF/backend/categoryDelete.jsp
URL_BACKEND_HOME_REFRESH = /WEB-INF/backend/refreshHomePage.jsp

URL_BACKEND_ADD_PRODUCT = /WEB-INF/backend/productAdd.jsp
URL_BACKEND_UPDATE_ADD_PRODUCT = /WEB-INF/backend/productUpdate.jsp

URL_CUSTOMER_BANK = /customer/bank.jsp
URL_CUSTOMER_ORDER = /customer/order.jsp
URL_CUSTOMER_CONFIRM_PAYMENT = /customer/confirmPayment.jsp
