<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>shopweb</display-name>
	<welcome-file-list>
		<welcome-file>home</welcome-file>
	</welcome-file-list>

	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
	<listener>
		<listener-class>com.oocl.shopwebdemo.listener.MySessionListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.oocl.shopwebdemo.listener.Initdatalistener</listener-class>
	</listener>

	<filter>
		<filter-name>BasePageFilter</filter-name>
		<filter-class>com.oocl.shopwebdemo.web.filter.BasePageFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>BasePageFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>ServletFilter</filter-name>
		<filter-class>com.oocl.shopwebdemo.web.filter.ServletFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ServletFilter</filter-name>
		<url-pattern>/home</url-pattern>
		<url-pattern>/searchProductServlet</url-pattern>
		<url-pattern>/ProductServlet</url-pattern>
		<url-pattern>/retrievalServlet</url-pattern>
		<url-pattern>/AccountServlet</url-pattern>
		<url-pattern>/CategoryServlet</url-pattern>
		<url-pattern>/ItemServlet</url-pattern>
		<url-pattern>/CartServlet</url-pattern>
		<url-pattern>/PaymentServlet</url-pattern>
		<url-pattern>*.jsp</url-pattern>
<!-- 		<url-pattern>/customer/*.jsp</url-pattern> -->
	</filter-mapping>
	<filter>
		<filter-name>login</filter-name>
		<filter-class>com.oocl.shopwebdemo.web.filter.LoginFilter</filter-class>
	</filter>	
	<filter-mapping>
		<filter-name>login</filter-name>
		<url-pattern>/customer/*</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>HomeController</servlet-name>
		<servlet-class>com.oocl.shopwebdemo.web.controller.HomeController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ErrorHandler</servlet-name>
		<servlet-class>com.oocl.shopwebdemo.web.controller.ErrorHandler</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SearchController</servlet-name>
		<servlet-class>com.oocl.shopwebdemo.web.controller.SearchController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ProductController</servlet-name>
		<servlet-class>com.oocl.shopwebdemo.web.controller.ProductController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RetrievalController</servlet-name>
		<servlet-class>com.oocl.shopwebdemo.web.controller.RetrievalController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AccountController</servlet-name>
		<servlet-class>com.oocl.shopwebdemo.web.controller.AccountController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CategoryController</servlet-name>
		<servlet-class>com.oocl.shopwebdemo.web.controller.CategoryController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BackendController</servlet-name>
		<servlet-class>com.oocl.shopwebdemo.web.controller.BackendController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ItemController</servlet-name>
		<servlet-class>com.oocl.shopwebdemo.web.controller.ItemController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CartController</servlet-name>
		<servlet-class>com.oocl.shopwebdemo.web.controller.CartController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PaymentController</servlet-name>
		<servlet-class>com.oocl.shopwebdemo.web.controller.PaymentController</servlet-class>
	</servlet>


	<servlet-mapping>
		<servlet-name>HomeController</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ErrorHandler</servlet-name>
		<url-pattern>/error</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SearchController</servlet-name>
		<url-pattern>/searchProductServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProductController</servlet-name>
		<url-pattern>/ProductServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RetrievalController</servlet-name>
		<url-pattern>/retrievalServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AccountController</servlet-name>
		<url-pattern>/AccountServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CategoryController</servlet-name>
		<url-pattern>/CategoryServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BackendController</servlet-name>
		<url-pattern>/backend</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ItemController</servlet-name>
		<url-pattern>/ItemServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CartController</servlet-name>
		<url-pattern>/CartServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PaymentController</servlet-name>
		<url-pattern>/PaymentServlet</url-pattern>
	</servlet-mapping>


	<!-- SpringMVC -->
	<servlet>
		<servlet-name>dispatcherServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:spring-mvc.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>dispatcherServlet</servlet-name>
		<url-pattern>/mvc/*</url-pattern>
	</servlet-mapping>


</web-app>